html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background-image: repeating-linear-gradient(145deg, #d4fdff 12px, #d4fdff 24px, #c9fcff 24px, #c9fcff 36px);
  border-top: 7px solid #b3fbff;
  border-bottom: 7px solid #b3fbff;
  min-height: 26em;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left bottom;
}

.intro-p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg);
  transform-origin: left center;
}


.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
}

.cone {
  transform:
}
