html {
  font-family: "Fredoka One", cursive;
}

body {
  background-image: repeating-linear-gradient(145deg, #d4fdff 12px, #d4fdff 24px, #c9fcff 24px, #c9fcff 36px);
}

h1 {
  color: #990073;
}

.intro-p {
  color: #c09;
  max-width: 19em;
}


.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
}
