html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background-image: repeating-linear-gradient(145deg, #d4fdff 12px, #d4fdff 24px, #c9fcff 24px, #c9fcff 36px);
  border-top: 7px solid #b3fbff;
  border-bottom: 7px solid #b3fbff;
  min-height: 26em;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left bottom;
  text-shadow: 2px 2px rgba(150, 150, 150, .3);
}

.intro-p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg);
  transform-origin: left center;
  text-shadow: 2px 2px rgba(150, 150, 150, .3);
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  text-shadow: 2px 2px rgba(150, 150, 150, .3);
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
}

.ice-cream {
  min-height: 26em;
  transform: scale(.7);
}

.cone {
  z-index: 2;
  bottom: -77px;
}

.mint {
  z-index: 1;
  bottom: 71px;
}

.chocolate {
  z-index: 3;
  bottom: 194px;
  left: 10px;
}

.vanilla {
  z-index: 4;
  top: -59px;
}

.cherry {
  z-index: 5;
  top: -171px;
}
